.create-student{
    background-color: rosybrown;
    padding-left: 10px;
    padding-bottom: 10px;
    margin : 10px;
    border-radius:10px;
    color: lightgoldenrodyellow;
    width : 35%;
    margin-bottom:200px;
}

.create-student .error{
    color: darkred;
}

.create-student button{
    background-color:lightgoldenrodyellow;
    margin: 10px 0 0 0;
    color :rosybrown;
    font-size: 18px;
    width :80px;
    padding: 2px;
    display: block;
}
input,label,select {
    margin-right: 20px;
    color: black;
    width: 90%;
}

input:focus{
    border : 2px lightgoldenrodyellow;
}